$main-font: 'DM Sans', sans-serif;
$primary-color: hsl(10, 79%, 65%); // soft red
$secondary-color: hsl(186, 34%, 60%); // cyan
$background-color: hsl(27, 66%, 92%); // beige
$main-font-color: hsl(28, 10%, 53%); // brown